@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+NZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html { scroll-behavior: smooth; }

.font-handwrite {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.font-simple {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
  "wdth" 100,
  "YTLC" 500;
}
.font-strong {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
  "wdth" 100,
  "YTLC" 500;
}
.font-default {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-slider {
    display: flex;
    width: calc(200px * 14); /* Ajuste conforme necessário */
    animation: slide 25s linear infinite;
  }
  
  .carousel-slider img {
    flex-shrink: 0;
    width: 200px; /* Ajuste conforme necessário */
    height: auto;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-51.3%); }
  }
  